@tailwind base;
@tailwind components;
@tailwind utilities;

.my-btn-indigoPurple {
  @apply text-white py-2 px-4 rounded font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:from-pink-500 hover:to-indigo-500;
}

.my-btn-cherry {
  @apply bg-gradient-to-r from-red-400 to-pink-500 hover:from-pink-500 hover:to-red-400 text-white font-bold py-2 px-4 rounded;
}

.my-bg-pink {
  @apply bg-pink-100;
}
.my-bg-gr {
  @apply bg-gradient-to-r from-red-400 to-pink-500 hover:from-pink-500 hover:to-red-400 text-white font-bold;
}
.my-text-gr {
  @apply bg-gradient-to-r from-indigo-500 to-pink-500 text-transparent bg-clip-text;
}

.my-blue {
  @apply bg-blue-200 text-blue-800 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-green {
  @apply bg-green-200 text-green-800 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-yellow {
  @apply bg-yellow-200 text-yellow-800 rounded-full py-1 px-3 mr-2 mb-2;
}
.my-orange {
  @apply bg-orange-200 text-orange-800 rounded-full py-1 px-3 mr-2 mb-2;
}
